// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

section {
    padding: 2em 0;
    text-align: center;
}

.navbar {
    position: fixed!important;
    z-index: 9999!important;
    width: 100%!important;
}



.header-nav{
    padding: 0;
    height: auto;
    z-index: 999;
    position: fixed;
    width: 100%;
    font-family: 'Fredericka the Great', cursive;
}

.nav-text-size {
    font-size: 1.5rem!important;
}

.navTitle-text-size{
    font-size: 2.5rem!important;
}

@media (max-width: 375px) {
    /* CSS mobile ici */
    .navTitle-text-size
    {
        font-size: 2rem !important;
    }
}
//HOME PAGE -- SECTION VIDEO
#nomad_family {
    width: 100%;
    height: 100vh;
    position: Relative;
    padding: 0;
    overflow: hidden;
}

#nomad_family h2{
    position: absolute;
    top: 35%;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
    // font-family: 'Kaushan Script', cursive;
    font-size: 5em;
}

#nomad_family p{
    position: absolute;
    top: 45%;
    text-align: center;
    z-index: 1;
    width: 100%;
    color: #fff;
    font-family: 'Fredericka the Great', cursive;
    // font-family: 'Kaushan Script', cursive;
    font-size: 3em;
}

.video-audio {
    position: absolute;
    top: 80px;
    right: 10px;
    color: #FFF !important;
    font-size: 25px;
    z-index: 9999;
}

.intro-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.video-audio i {
    color: #FFF !important;
    font-size: 25px;
}

@media (max-width: 375px) {
    /* CSS mobile ici */
    .video-audio i {
        display: none;
    }
}

.button_home {
    position: absolute;
    bottom: 4em;
    left: 40%;
    right: 40%;
    color: #FFF !important;
    font-size: 50px !important;
    // z-index: 9999;
    font-family: 'Fredericka the Great', cursive;
}

@media (max-width: 375px) {
    /* CSS mobile ici */
    .button_home {
        left: 25%;
        bottom: 2em;
    }
}

//HOME PAGE -- BLOG 4 LAST ARTICLES
#events {
    margin-bottom: 8%;
    padding-top: 10%;
}

@media (max-width: 375px) {
    /* CSS mobile ici */
    #events {
        padding-top: 25%;
    }
}

.event-wrapper {
    width: 100%;
    // height: 180px;
    // outline: 1px red solid;
    margin: 10px 0;
    position: relative;
    overflow: hidden;

}
.event-intro {
    text-align: justify;
    transition: transform .2s;
}

.event-intro:hover {
    background-color: #008cba;
    color: white;
    transform: scale(1.15);
    border-radius: 10px;
    padding: 15px;
}
.event-intro:hover > a {

    color: black;

}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
  }

  .ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
  }

  @media (max-width: 375px) {
    /* CSS mobile ici */
    .ml12 {
        display: none;
    }
}

  .ml12 .letter {
    display: inline-block;
    line-height: 1em;
  }

//SEction Newsletter
#newsletter {
    min-height: 400px;
    background-color: #008cba;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600');

$inputHeight: 70px;
$primaryColor: #F53A54;

.container-newsletter
{
    margin-top: 7%;
    margin-bottom: 7%;
}

.h1-newsletter {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.025em;

  strong {
    font-weight: 400;
  }
}

.form-newsletter {
  position: relative;
  display: block;
  height: $inputHeight;
  border-radius: 0.5*$inputHeight;
  background: white;
  margin: 0 auto;
  box-shadow: 0 8px 32px rgba(0,0,0,.28);
  overflow: hidden;

  input {
    line-height: $inputHeight;
    padding: 0;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    background: #eee;
    letter-spacing: 0.02em;

    &:not([type=submit]) {
      width: 100%;
      display: block;
      padding: 0 150px 0 30px;
    }

    &:not([type=email]) {
      position: absolute;
      height: $inputHeight - 20px;
      line-height: $inputHeight - 20px;
      top: 10px;
      right: 10px;
      border-radius: 0.5*($inputHeight - 20px);
      padding: 0 25px;
      background: lighten($primaryColor, 5%);
      color: white;
      cursor: pointer;

      &:hover {
        background: darken($primaryColor, 10%);
      }
    }

    &:focus {
      outline: none;
      background: white;
    }
  }
}


// FOOTER SOCIAL MEDIA
#social-media {
    margin-top: 10%;
    margin-bottom: 10%;
}
.fa {
    padding: 50px;
    font-size: 50px;
    margin-top: 3%;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 60px;
  }

  @media (max-width: 375px) {
    /* CSS mobile ici */
    .fa {
        padding: 25px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
    }
}



  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-youtube {
    background: #bb0000;
    color: white;
  }

  .fa-instagram {
    background: #bf13d2;
    color: white;
  }


